<div class="container-fluid" style="background-color: rgb(176, 225, 245)">
  <div class="row" >
      <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
          <div class="form-group"  >
              <label for="name">Name</label>
              <input type="text" width="30" class="form-control" [(ngModel)]="newName" name="name" #name="ngModel" id="name" required>
              <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                  <p> Name is required </p>
                </div>
                
                {{newname}}
                <div class="form-group">

                    <label for="quote">Quote</label>
                    <input type="text" required class="form-control" id="quote" [(ngModel)]="newquote" name="quote"> {{newquote}}
                    
                    </div>
                    <div class="form-group">
                    
                    <label for="author">Author of the Quote</label>
                    <input type="text" required class="form-control" id="author" [(ngModel)]="newauthor" name="author"> {{newauthor}}
                    
                    </div>
                    <div class="form-group">
                    <label for="date">Creation Day</label>
                    <input type='date' id="date" required class="form-control" id="date" [(ngModel)]="newdate" name="date"> {{newdate}}
                    
                    </div>
                    <button type="submit" class="btn btn-success btn-lg">Add Quote</button>
                
                </div>


           
        </form>
  </div>
</div>